In [8]:
import csv
import numpy as np

file = open(r'.\Height of Male and Female by Country 2022.csv')
csvreader = csv.reader(file)

header = []
header = header + next(csvreader)

rows = []
for row in csvreader:
    rows.append(row)

header

['Rank',
 'Country Name',
 'Male Height in Cm',
 'Female Height in Cm',
 'Male Height in Ft',
 'Female Height in Ft']

In [9]:
rows = np.array(rows)

# Print first 50 rows
rows[:50]

array([['1', 'Netherlands', '183.78', '170.36', '6.03', '5.59'],
       ['2', 'Montenegro', '183.30', '169.96', '6.01', '5.58'],
       ['3', 'Estonia', '182.79', '168.66', '6.00', '5.53'],
       ['4', 'Bosnia and Herzegovina', '182.47', '167.47', '5.99',
        '5.49'],
       ['5', 'Iceland', '182.10', '168.91', '5.97', '5.54'],
       ['6', 'Denmark', '181.89', '169.47', '5.97', '5.56'],
       ['7', 'Czech Republic', '181.19', '167.96', '5.94', '5.51'],
       ['8', 'Latvia', '181.17', '168.81', '5.94', '5.54'],
       ['9', 'Slovakia', '181.02', '167.12', '5.94', '5.48'],
       ['10', 'Slovenia', '180.98', '167.20', '5.94', '5.49'],
       ['11', 'Ukraine', '180.98', '166.62', '5.94', '5.47'],
       ['12', 'Croatia', '180.76', '166.80', '5.93', '5.47'],
       ['13', 'Serbia', '180.74', '168.29', '5.93', '5.52'],
       ['14', 'Lithuania', '180.72', '167.63', '5.93', '5.50'],
       ['15', 'Poland', '180.69', '165.78', '5.93', '5.44'],
       ['16', 'Finland', '180.57', '166.48', '5.92', '5.46'],
       ['17', 'Norway', '180.48', '166.45', '5.92', '5.46'],
       ['18', 'Sweden', '180.46', '166.67', '5.92', '5.47'],
       ['19', 'Germany', '180.28', '166.18', '5.91', '5.45'],
       ['20', 'Dominica', '180.15', '166.89', '5.91', '5.48'],
       ['21', 'Bermuda', '179.72', '166.11', '5.90', '5.45'],
       ['22', 'Puerto Rico', '179.48', '163.06', '5.89', '5.35'],
       ['23', 'Greece', '179.26', '165.81', '5.88', '5.44'],
       ['24', 'Belgium', '179.09', '163.40', '5.88', '5.36'],
       ['25', 'Ireland', '179.04', '164.50', '5.87', '5.40'],
       ['26', 'Lebanon', '178.96', '163.67', '5.87', '5.37'],
       ['27', 'Andorra', '178.84', '165.53', '5.87', '5.43'],
       ['28', 'Antigua and Barbuda', '178.84', '165.72', '5.87', '5.44'],
       ['29', 'Australia', '178.77', '164.67', '5.87', '5.40'],
       ['30', 'Canada', '178.75', '164.73', '5.86', '5.40'],
       ['31', 'Switzerland', '178.73', '164.33', '5.86', '5.39'],
       ['32', 'Grenada', '178.70', '165.99', '5.86', '5.45'],
       ['33', 'Belarus', '178.69', '166.93', '5.86', '5.48'],
       ['34', 'France', '178.60', '164.49', '5.86', '5.40'],
       ['35', 'Austria', '178.52', '166.93', '5.86', '5.48'],
       ['36', 'Luxembourg', '178.46', '165.07', '5.86', '5.42'],
       ['37', 'Cook Islands', '178.32', '167.31', '5.85', '5.49'],
       ['38', 'French Polynesia', '178.32', '166.52', '5.85', '5.46'],
       ['39', 'United Kingdom', '178.21', '163.94', '5.85', '5.38'],
       ['40', 'Romania', '177.82', '164.73', '5.83', '5.40'],
       ['41', 'New Zealand', '177.72', '164.66', '5.83', '5.40'],
       ['42', 'Saint Vincent and the Grenadines', '177.49', '165.30',
        '5.82', '5.42'],
       ['43', 'Niue', '177.19', '167.03', '5.81', '5.48'],
       ['44', 'American Samoa', '177.09', '167.55', '5.81', '5.50'],
       ['45', 'Barbados', '177.03', '165.66', '5.81', '5.44'],
       ['46', 'Jamaica', '176.97', '164.32', '5.81', '5.39'],
       ['47', 'United States', '176.94', '163.31', '5.81', '5.36'],
       ['48', 'Tunisia', '176.85', '161.69', '5.80', '5.30'],
       ['49', 'Russia', '176.65', '164.52', '5.80', '5.40'],
       ['50', 'Hungary', '176.59', '162.55', '5.79', '5.33']],
      dtype='<U32')

In [10]:
height_men = rows[:,2]
height_men = height_men.astype(np.float64)
height_women = rows[:,3]
height_women = height_women.astype(np.float64)

In [11]:
from statistics import stdev, mean

print(f'The average height for men among the countires in the database is {round(height_men.mean(),2)} centimeters')
print(f'The minimum height for men among the countries in the database is {round(height_men.min(),2)} centimeters')
print(f'The maximum height for men among the countries in the database is {round(height_men.max(),2)} centimeters')

print(f'The average height for women among the countires in the database is {round(height_women.mean(),2)} centimeters')
print(f'The minimum height for women among the countries in the database is {round(height_women.min(),2)} centimeters')
print(f'The maximum height for women among the countries in the database is {round(height_women.max(),2)} centimeters')

The average height for men among the countires in the database is 173.09 centimeters
The minimum height for men among the countries in the database is 160.13 centimeters
The maximum height for men among the countries in the database is 183.78 centimeters
The average height for women among the countires in the database is 160.94 centimeters
The minimum height for women among the countries in the database is 150.91 centimeters
The maximum height for women among the countries in the database is 170.36 centimeters

In [12]:
country = rows[:, 1]
mask = (country == 'Mexico')

print(rows[mask])

[['139' 'Mexico' '170.29' '157.90' '5.59' '5.18']]