In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(filepath_or_buffer='D:/Documentos/Documentos/DataAnalysis/ebac/Python/Modulo19/vgsales.csv')
df.sample(5)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
6604,6606,Doukyuusei if,SAT,1996.0,Role-Playing,NEC,0.00,0.00,0.26,0.00,0.26
3041,3043,The Fairly Odd Parents: Breakin Da Rules,PS2,2003.0,Platform,THQ,0.33,0.25,0.00,0.09,0.67
15831,15834,LifeSigns: Surgical Unit,DS,2005.0,Simulation,JoWood Productions,0.01,0.01,0.00,0.00,0.02
1889,1891,Skylanders Giants,PS3,2012.0,Action,Activision,0.35,0.52,0.00,0.22,1.09
1068,1070,Dragon Ball Z: The Legacy of Goku,GBA,2002.0,Role-Playing,Infogrames,1.52,0.12,0.00,0.05,1.69

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [11]:
df.isna().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [18]:
for column in df.columns:
    print(column, ': ', df[column].astype(str).str.len().max())

Rank :  5
Name :  132
Platform :  4
Year :  6
Genre :  12
Publisher :  38
NA_Sales :  5
EU_Sales :  5
JP_Sales :  5
Other_Sales :  5
Global_Sales :  5